<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 
</head>
<body>
    <form action="">
        <div class="main">
          <h1 id="h11">Welcome To Our Photography Studio..</h1>
            <div class="box">
                <h1 id="h1">Get Start</h1>
        <div class="input-container">
          <i class="fa fa-user icon"></i>
          <input class="input-field" type="text" placeholder="Username" name="usrnm">
        </div>
      
        <div class="input-container">
          <i class="fa fa-lock icon"></i>
          <input class="input-field" type="password" placeholder="Password" name="psw">
        </div>
      
        <div id="txt">
          <a href="#" id="fp">Forget Password ?</a>
        </div>

        <button type="submit" class="btn">Login</button>
    </div>
        </div>
      </form>
</body>
</html>